/** Reset and base files */
@import url('./base.css');

/** material typography */
@import url('./typography.css');

/** layouts */
@import url('./layout/layouts.css');

/** effects */
@import url('./util/effects.css');

/** components */
@import url('./components/components.css');

/** sections */
@import url('./sections/sections.css');

html, body, .container {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Roboto Mono;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #ffffff;
  color: white;  
}

.container {
  display: flex;
  flex-direction: column;
}