.toolbar {
  width: 100%;
  display: inline-flex;
}

.toolbar-wrapper {
  display: inline-flex;
  align-items: center;
}

.toolbar-title {
  font-family: Roboto Mono;
  font-weight: 400;
  font-size: 1.25rem;
  height: 32px;
  white-space: nowrap;
  letter-spacing: .02em;
  line-height: 2rem;
}

/** mobile and landscape */
@media only screen and (max-device-width: 599px) and (orientation: landscape) {
  .toolbar {
    height: 48px;
    background-color: blue;
  }
  .toolbar-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
  .toolbar-title {
    padding-left: 20px;
  }
}

/** mobile and portrait */
@media only screen and (max-device-width: 599px) and (orientation: portrait) {
  .toolbar {
    height: 56px;
  }
  .toolbar-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
  .toolbar-title {
    padding-left: 20px;
  }
}

/** larger */
@media only screen and (min-device-width: 600px) and (max-device-width: 1903px) {
  .toolbar {
    height: 64px;
    background-color: #212121;
  }
  .toolbar-wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }
  .toolbar-title {
    padding-left: 20px;
  }
}